@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
  /* box-sizing: border-box; */
}

body {
  background-color: black;
}

.main {
  height: 550px;
  background-image: url(./Assets/Images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  height: 550px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  position: relative;
  height: calc(100% - 100px);
  gap: 23px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 38px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.btn-red {
  font-weight: 400;
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main input {
  color: white;
  height: 35px;
  width: 27vw;
  font-size: 13px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 2px solid rgba(246, 238, 238, 0.5);
}

section {
  height: 600px;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
}

.secImg img {
  /* position: absolute; */
  /* top: 10px; */
  width: 555px;
  position: relative;
  z-index: 10;
}

.first-video video {
  position: absolute;
  top: 120px;
  right: 6px;
}

.third-video video {
  position: absolute;
  top: 68px;
  right: 100px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

section.first > div :nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center;
}

.third .secImg video {
  top: 34px;
  right: 100px;
}

.faq {
  height: 580px;
  background: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq-box {
  transition: all 1s ease-in-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 18px;
  max-width: 60vw;
  margin: 20px auto;
  cursor: pointer;
}

.faq-box:hover {
  background-color: #414141;
}

footer {
  color: white;
  height: 250px;
  max-width: 60vw;
  margin: auto;
}

footer .questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  /* padding: 34px; */
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-item a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .first-video video {
    width: 243px;
    right: 22px;
    top: 45px;
  }

  .third-video video {
    width: 190px;
    right: 57px;
    top: 19px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .main input {
    width: auto;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  section.first > div {
    padding: 0;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .faq{
    height: auto;
  }

  .footer-item {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .main input {
    width: auto;
  }

  section{
    height: auto;
  }

  .first-video video {
    width: 225px;
    right: 40px;
    top: 47px;
  }

  .third-video video {
    width: 187px;
    right: 60px;
    top: 20px;
  }

  footer{
    height: auto;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
